body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.2em;
  background: url('/assets/images/tile.jpg') top left repeat;
}

.font-awesome > i {
  margin-left: 10px;
}

.font-awesome {
  margin-left: 10px;
}

footer {
  background: #3e4249;
  color: white;
  padding: 20px;
  margin: 50px 0 0 0;
  font-size: 12px;
}